<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaoyong.demo.sys.mapper.LogLoginMapper">
  <resultMap id="BaseResultMap" type="com.yaoyong.demo.sys.entity.LogLogin">
	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="plat_type"  property="platType" jdbcType="INTEGER" />
    <result column="operate_id"  property="operateId" jdbcType="VARCHAR" />
    <result column="operate_name"  property="operateName" jdbcType="VARCHAR" />
    <result column="user_ip"  property="userIp" jdbcType="VARCHAR" />
    <result column="create_time"  property="createTime" jdbcType="BIGINT" />
    <result column="appid"  property="appid" jdbcType="VARCHAR" />
  </resultMap>
	
  <sql id="Base_Column_List">
    id,plat_type,operate_id,operate_name,user_ip,create_time,appid
  </sql>
	
  <sql id="findWhere">
    from log_login
    <where>
       <if test="id != null">
           and id = #{id,jdbcType=BIGINT}  
       </if>
       <if test="platType != null">
           and plat_type = #{platType,jdbcType=INTEGER}  
       </if>
       <if test="operateId != null">
           and operate_id = #{operateId,jdbcType=VARCHAR}  
       </if>
       <if test="operateName != null">
           and operate_name = #{operateName,jdbcType=VARCHAR}  
       </if>
       <if test="userIp != null">
           and user_ip = #{userIp,jdbcType=VARCHAR}  
       </if>
       <if test="createTime != null">
           and create_time = #{createTime,jdbcType=BIGINT}  
       </if>
       <if test="appid != null">
           and appid = #{appid,jdbcType=VARCHAR}  
       </if>
    </where>
  </sql>
  
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from log_login where id =   #{id,jdbcType=BIGINT}      	
  </select>

  <select id="findList" parameterType="com.yaoyong.demo.sys.entity.LogLogin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    <include refid="findWhere" />
  </select>
  
  <select id="findByField" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    <include refid="findWhere" />
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from log_login
    where id =   #{id,jdbcType=BIGINT}       	
  </delete>

  <insert id="save" parameterType="com.yaoyong.demo.sys.entity.LogLogin" useGeneratedKeys = "true" keyProperty = "id">
      insert into log_login
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="platType != null">
            plat_type,
        </if>
        <if test="operateId != null">
            operate_id,
        </if>
        <if test="operateName != null">
            operate_name,
        </if>
        <if test="userIp != null">
            user_ip,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="appid != null">
            appid,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
        #{id,jdbcType=BIGINT} ,
        </if>
        <if test="platType != null">
        #{platType,jdbcType=INTEGER} ,
        </if>
        <if test="operateId != null">
        #{operateId,jdbcType=VARCHAR} ,
        </if>
        <if test="operateName != null">
        #{operateName,jdbcType=VARCHAR} ,
        </if>
        <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR} ,
        </if>
        <if test="createTime != null">
        #{createTime,jdbcType=BIGINT} ,
        </if>
        <if test="appid != null">
        #{appid,jdbcType=VARCHAR} ,
        </if>
      </trim>
  </insert>
  
  <update id="updateById" parameterType="com.yaoyong.demo.sys.entity.LogLogin">
      update log_login
      <set>
      <if test="id != null">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test="platType != null">
      plat_type = #{platType,jdbcType=INTEGER},
      </if>
      <if test="operateId != null">
      operate_id = #{operateId,jdbcType=VARCHAR},
      </if>
      <if test="operateName != null">
      operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
      user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
      create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
      appid = #{appid,jdbcType=VARCHAR},
      </if>
      </set>
      where id =   #{id,jdbcType=BIGINT}       	
  </update>
  
  	<select id="selectLogLoginPage" resultType="com.yaoyong.demo.sys.entity.LogLogin">
		SELECT* FROM log_login
	</select>

	<select id="selectLogLoginWrapperPage" resultType="com.yaoyong.demo.sys.entity.LogLogin">
		SELECT * FROM log_login ${ew.sqlSegment}
	</select>
  
</mapper>

