<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaoyong.demo.sys.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.yaoyong.demo.sys.entity.Role">
	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="plat_type"  property="platType" jdbcType="INTEGER" />
    <result column="name"  property="name" jdbcType="VARCHAR" />
    <result column="content"  property="content" jdbcType="VARCHAR" />
    <result column="is_enable"  property="isEnable" jdbcType="INTEGER" />
    <result column="is_delete"  property="isDelete" jdbcType="INTEGER" />
    <result column="version"  property="version" jdbcType="BIGINT" />
    <result column="appid"  property="appid" jdbcType="VARCHAR" />
  </resultMap>
	
  <sql id="Base_Column_List">
    id,plat_type,name,content,is_enable,is_delete,version,appid
  </sql>
	
  <sql id="findWhere">
    from role
    <where>
       <if test="id != null">
           and id = #{id,jdbcType=BIGINT}  
       </if>
       <if test="platType != null">
           and plat_type = #{platType,jdbcType=INTEGER}  
       </if>
       <if test="name != null">
           and name = #{name,jdbcType=VARCHAR}  
       </if>
       <if test="content != null">
           and content = #{content,jdbcType=VARCHAR}  
       </if>
       <if test="isEnable != null">
           and is_enable = #{isEnable,jdbcType=INTEGER}  
       </if>
       <if test="isDelete != null">
           and is_delete = #{isDelete,jdbcType=INTEGER}  
       </if>
       <if test="version != null">
           and version = #{version,jdbcType=BIGINT}  
       </if>
       <if test="appid != null">
           and appid = #{appid,jdbcType=VARCHAR}  
       </if>
    </where>
  </sql>
  
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from role where id =   #{id,jdbcType=BIGINT}       	
  </select>

  <select id="findList" parameterType="com.yaoyong.demo.sys.entity.Role" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    <include refid="findWhere" />
  </select>
  
  <select id="findByField" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    <include refid="findWhere" />
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from role
    where id =   #{id,jdbcType=BIGINT}        	
  </delete>

  <insert id="save" parameterType="com.yaoyong.demo.sys.entity.Role" useGeneratedKeys = "true" keyProperty = "id">
      insert into role
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="platType != null">
            plat_type,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="content != null">
            content,
        </if>
        <if test="isEnable != null">
            is_enable,
        </if>
        <if test="isDelete != null">
            is_delete,
        </if>
        <if test="version != null">
            version,
        </if>
        <if test="appid != null">
            appid,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
        #{id,jdbcType=BIGINT} ,
        </if>
        <if test="platType != null">
        #{platType,jdbcType=INTEGER} ,
        </if>
        <if test="name != null">
        #{name,jdbcType=VARCHAR} ,
        </if>
        <if test="content != null">
        #{content,jdbcType=VARCHAR} ,
        </if>
        <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER} ,
        </if>
        <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER} ,
        </if>
        <if test="version != null">
        #{version,jdbcType=BIGINT} ,
        </if>
        <if test="appid != null">
        #{appid,jdbcType=VARCHAR} ,
        </if>
      </trim>
  </insert>
  
  <update id="updateById" parameterType="com.yaoyong.demo.sys.entity.Role">
      update role
      <set>
      <if test="id != null">
      id = #{id,jdbcType=BIGINT},
      </if>
      <if test="platType != null">
      plat_type = #{platType,jdbcType=INTEGER},
      </if>
      <if test="name != null">
      name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
      content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
      is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
      is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
      version = #{version,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
      appid = #{appid,jdbcType=VARCHAR},
      </if>
      </set>
      where id =   #{id,jdbcType=BIGINT}        	
  </update>
  
  	<select id="selectRolePage" resultType="com.yaoyong.demo.sys.entity.Role">
		SELECT* FROM role
	</select>

	<select id="selectRoleWrapperPage" resultType="com.yaoyong.demo.sys.entity.Role">
		SELECT * FROM role ${ew.sqlSegment}
	</select>
  
</mapper>

